.service img {
   margin-top: 10px;
   margin-left: 15px;
   border-radius: 10px;
   width: 360px; 
   height: 450px;
   
}
.service{
   border: 1px solid silver;
   border-radius: 10px;
   position: relative;

}
.service-info  {
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 60px;
}
.btn-cart{
   width: 100%;
   border: 0;
   border-radius: 0px 0px 8px 8px;
   background-color: #9FE2BF;
   position: absolute;
   bottom: 0;
   font-weight: 700;
   font-size: 15px;
}
.btn-cart p:hover{
   color: orange;
}
